$blancogrisaceo: #f6f6f6;
$rojo: #ce202d;
$blanco: white;
$plata: #c4c3c3;
$fondogris:#dddddd;
$negro:black;
$tipografiatitulo: league;
$tipografiatitulocursiva: leaguei;
$tamanoletraheader:16.5px;
$tamanoletrah1:19.5px;
$tamanoletrah2:17.5px;
$tamanoletrah2tiendas:14.5px;
$tamanodescripcion:16px;
$tamanoletrafooterh2:17.5px;
$tamanoletrafooterh3:15.5px;
$tamanoletrafooterp:14.5px;
$tamanoletrafooterpbutton:17.5px;
$tipografiadesc: 'Montserrat Light';
$tipografiadescursiva: 'Montserrat Light',cursive;
$tipografiabtn: Anton;

@font-face {
    font-family: SquadaOne-Regular;
    src: url('../../fonts/SquadaOne-Regular.ttf');
}
@font-face {
    font-family: ArcadeGamer;
    src: url('../../fonts/ArcadeGamer.ttf');
}
@font-face {
    font-family: CarterOne-Regular;
    src: url('../../fonts/CarterOne-Regular.ttf');
}
@mixin flex{
    display: flex;
    flex-wrap: wrap;
}
@mixin flex-nowrap{
    display: flex;
    flex-wrap: nowrap;
}

@mixin a-header() {
   
        color:$blanco;
        text-decoration: none;
        font-family:$tipografiatitulo;
        font-size: $tamanoletraheader;
   
}
@mixin titulo-top{
    h1 {
        color: $rojo;
        margin-bottom: 10px;
        font-size: $tamanoletrah1;
        font-family: $tipografiatitulo;
    }
    p {
        font-size: $tamanodescripcion;
        font-family: $tipografiadesc;
    }
}

